.cfg-group {
  width: 100%;
  background: #00152c;
  margin: 4px 0 12px 0; }
  .cfg-group h1 {
    width: 100%;
    text-align: center;
    padding: 4px 0;
    margin: 0;
    font-size: 14pt; }
  .cfg-group table {
    border-collapse: collapse; }
    .cfg-group table th {
      width: 25%;
      background: #002142;
      padding: 8px;
      border: 1px solid #99badd; }
      .cfg-group table th a {
        color: #ffe690; }
        .cfg-group table th a:hover {
          color: #76621e; }
    .cfg-group table td {
      border: 1px solid #002142;
      text-align: center;
      vertical-align: top;
      background: #00152c;
      padding: 8px; }

form .embedded h1 {
  font-size: 10pt; }
