$carolina:#d6eafe;
$dark_carolina:#99badd;
$light_carolina:#f5fafe;
$navy:#002142;
$dark_navy:#00152c;
$light_navy:#002e5c;
$brown:#76621e;
$orange:#e0ba3a;
$orange_tan:#ffe690;
$dark_orange_tan:#e0ba3a;
$light_orange_tan:#fff5d4;
$really_light_orange_tan:#fffdf5;
$pink:#ffe2d4;
$light_red:#ffc7aa;
$red:#4d1a00;
$light_green:#b0df95;
$green:#194300;
