* {
  margin: 0; }

body {
  background: #00152c;
  color: #f5fafe;
  padding: 0;
  margin: 0;
  font-family: Verdana, Kalimati, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  min-width: 1000px; }

html, body {
  height: 100%; }

div#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -8em; }

.push, #footer {
  clear: both;
  height: 8em; }

a {
  text-decoration: none;
  color: #99badd; }
  a:hover {
    text-decoration: underline;
    color: #d6eafe; }

ul.menu,
ul.submenu,
ul.admin-menu,
.flash ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

#notices .notice {
  padding: 4px 0 0 0;
  position: relative;
  background: url(../img/notice.png) repeat-x;
  height: 30px;
  text-align: center;
  color: #76621e; }
  #notices .notice a {
    color: #76621e;
    text-decoration: underline;
    font-size: 9pt; }
    #notices .notice a:hover {
      color: #002142; }

#notice-menu {
  position: absolute;
  z-index: 1;
  top: 1px;
  left: 0px; }
  #notice-menu a {
    background: url(../img/notice.png) repeat-x;
    padding: 4px;
    color: #76621e;
    font-size: 9pt;
    text-decoration: underline; }
    #notice-menu a:hover {
      color: #002142; }

#header {
  position: relative;
  clear: both;
  float: left;
  margin: 0;
  padding: 0;
  background: #002142 url(../img/slsc-logo.png) 20px 20px no-repeat;
  height: 160px;
  width: 100%; }
  #header #user-menu {
    float: right;
    padding-right: 10px;
    font-size: 10pt;
    height: 10px; }
    #header #user-menu li {
      padding: 0 4px;
      display: inline;
      position: relative;
      color: #d6eafe; }
    #header #user-menu a {
      color: #fff5d4;
      text-decoration: none; }
      #header #user-menu a:hover {
        color: #e0ba3a; }
  #header #main-menu {
    position: relative;
    top: 55px;
    margin: 0 20px 0 355px;
    background: url(../img/menu.png) repeat-x;
    height: 30px;
    border-left: 1px solid #99badd;
    border-right: 1px solid #99badd;
    padding: 10px 0 0 0;
    text-align: center; }
    #header #main-menu ul {
      display: block; }
      #header #main-menu ul li {
        padding: 0 4px;
        display: inline;
        position: relative; }
        #header #main-menu ul li a {
          font-weight: bold;
          font-size: 11pt;
          color: #00152c;
          text-decoration: none; }
          #header #main-menu ul li a:hover {
            color: #002e5c; }
        #header #main-menu ul li a.selected {
          color: #002e5c;
          text-shadow: #e0ba3a 0 0 4px; }
    #header #main-menu .submenu {
      text-align: left;
      position: absolute;
      display: block;
      background: #d6eafe;
      z-index: 10;
      width: 100%;
      left: 0px;
      top: 30px; }
      #header #main-menu .submenu li {
        position: relative;
        display: block;
        border-bottom: solid 1px #002142;
        font-weight: normal; }

#content-menu {
  clear: both;
  float: left;
  font-family: Georgia, "Nimbus Roman No9 L", serif;
  background: url(../img/bar-bg.png);
  text-align: center;
  padding: 2px 0;
  margin-top: 0px;
  position: relative;
  display: block;
  width: 100%;
  border-top: 1px solid #002e5c;
  border-bottom: 1px solid #00152c; }
  #content-menu li {
    display: inline;
    position: relative; }
  #content-menu a {
    padding: 0 4px; }
    #content-menu a.selected {
      color: #f5fafe; }

#content {
  position: relative;
  clear: both;
  margin: 0 16px;
  color: #f5fafe; }

.colmask {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
  background: #00152c; }

.middle,
.left {
  float: left;
  width: 100%;
  position: relative; }

.middle {
  right: 25%; }

.left {
  right: 50%; }

.col1,
.col2,
.col3 {
  float: left;
  position: relative;
  padding: 8px 0 1em 0;
  overflow: hidden;
  font-size: 10pt;
  color: #f5fafe; }
  .col1 a:hover,
  .col2 a:hover,
  .col3 a:hover {
    color: #d6eafe; }

.col1 {
  width: 46%;
  left: 102%;
  background: #00152c; }

.col2 {
  width: 25%;
  left: 30%;
  color: #002142; }

.col3 {
  width: 25%;
  left: 78%;
  color: #002142; }

.col2 p,
.col3 p {
  padding: 4px 0;
  border-bottom: 1px solid #002142; }

#footer {
  text-align: center;
  border-top: solid 1px #002142;
  width: 100%;
  padding-top: 12px;
  background: #d6eafe url(../img/footer-hatch.png) top repeat-x;
  color: #99badd; }

input.error, textarea.error {
  background: #ffc7aa url(../img/error.png);
  border-color: #4d1a00; }

div.flash {
  width: 100%;
  margin-top: 16px;
  border: 1px solid #ffe690;
  background: #fffdf5;
  text-align: center;
  color: #00152c; }

div.errors {
  margin: 16px 0 8px 0;
  padding: 4px 0 0 4px;
  border: 2px solid #4d1a00;
  background: #ffe2d4 url(../img/error.png);
  color: #4d1a00; }
  div.errors ol {
    margin: 4px; }

h1.title {
  font-family: Georgia, "Nimbus Roman No9 L", serif;
  padding: 8px 0 0 0;
  margin: 0;
  text-align: center; }

h3.subtitle {
  padding: 0;
  margin: 0;
  text-align: center; }

.page {
  background: #00152c url(../img/module-bg.png) repeat-x;
  border: 1px solid #002e5c;
  padding: 8px; }
  .page h1 {
    font-size: 13pt;
    text-align: center; }

.section ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Georgia, "Nimbus Roman No9 L", serif;
  background: url(../img/bar-bg.png);
  text-align: center;
  padding: 2px 0;
  margin-top: 0px;
  position: relative;
  display: block;
  width: 100%;
  border-top: 1px solid #002e5c;
  border-bottom: 1px solid #00152c; }
  .section ul.menu li {
    display: inline;
    position: relative; }
  .section ul.menu a {
    padding: 0 4px; }
    .section ul.menu a.selected {
      color: #f5fafe; }
.section p {
  line-height: 1.4em;
  padding: 1em 0 0 0; }
.section ul.admin-menu {
  padding: 0;
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%; }
  .section ul.admin-menu li {
    display: inline;
    position: relative; }
    .section ul.admin-menu li a {
      font-size: 8pt;
      padding: 0 4px;
      color: #fff5d4; }
      .section ul.admin-menu li a:hover {
        color: #e0ba3a; }
.section .program_news {
  border: 1px solid #f5fafe;
  background: #002142;
  margin: 16px 0; }
  .section .program_news .program_name {
    background: #f5fafe;
    padding: 4px 0;
    text-align: center; }
    .section .program_news .program_name a {
      text-decoration: none;
      font-weight: bold;
      color: #002142; }
.section .article {
  font-size: 9pt;
  padding: 4px 12px;
  background: #00152c url(../img/module-bg.png) repeat-x;
  border: 1px solid #002e5c;
  margin-bottom: 8px; }
  .section .article p.title {
    width: 100%;
    margin: 0;
    padding: 2px 0;
    font-size: 14pt;
    text-align: center; }
  .section .article .sub-title {
    width: 100%;
    height: 20px; }
    .section .article .sub-title .date {
      float: left;
      font-size: 8pt; }
    .section .article .sub-title .link {
      float: right; }
      .section .article .sub-title .link a {
        font-size: 8pt;
        color: #fff5d4; }
        .section .article .sub-title .link a:hover {
          color: #e0ba3a; }
  .section .article .intro, .section .article .body {
    margin: 0 8px;
    border-top: 1px solid #002142; }

.module {
  margin-bottom: 8px; }
  .module .title {
    color: #d6eafe;
    text-align: center; }
    .module .title ul.menu {
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-family: Georgia, "Nimbus Roman No9 L", serif;
      background: url(../img/bar-bg.png);
      text-align: center;
      padding: 2px 0;
      margin-top: 0px;
      position: relative;
      display: block;
      width: 100%;
      border-top: 1px solid #002e5c;
      border-bottom: 1px solid #00152c; }
      .module .title ul.menu li {
        display: inline;
        position: relative; }
      .module .title ul.menu a {
        padding: 0 4px; }
        .module .title ul.menu a.selected {
          color: #f5fafe; }
  .module .content {
    background: #00152c url(../img/module-bg.png) repeat-x;
    border-top: 1px solid #002e5c;
    border-left: 1px solid #002e5c;
    border-bottom: 1px solid #002142;
    border-right: 1px solid #002142;
    padding: 12px 8px;
    color: #f5fafe; }

.event-date {
  padding-top: 8px;
  width: 100%;
  text-align: center;
  font-size: 9pt;
  border-bottom: 1px solid #002142; }

.module .event {
  font-size: 8pt;
  padding-bottom: 8px; }
  .module .event .event-category {
    font-size: 8pt;
    color: #fff5d4; }
  .module .event table {
    border-collapse: collapse; }
    .module .event table td {
      padding: 0 4px 4px 4px;
      vertical-align: top; }

.module .recent {
  font-size: 8pt;
  text-align: center;
  padding: 8px 0;
  border-bottom: 1px solid #002142; }
  .module .recent .date {
    font-size: 8pt; }

.module .field, .field {
  padding: 8px 0;
  border-bottom: 1px solid #002142; }
  .module .field .date, .field .date {
    font-size: 8pt; }
  .module .field .open, .module .field .closed, .field .open, .field .closed {
    width: 100%;
    padding: 2px 4px;
    text-align: center; }
  .module .field .open, .field .open {
    border: 1px solid #194300;
    background: #b0df95;
    color: #194300; }
  .module .field .closed, .field .closed {
    border: 1px solid #4d1a00;
    background: #ffc7aa;
    color: #4d1a00; }

.module .age-0 {
  font-size: 12pt; }
.module .age-1 {
  font-size: 11pt; }
.module .age-2 {
  font-size: 10pt; }
.module .age-3 {
  font-size: 9pt; }

.calendar {
  table-layout: fixed;
  width: 99%;
  border-collapse: collapse;
  background: #002142; }
  .calendar th {
    font-size: 16pt;
    width: 100px; }
  .calendar td {
    border: 1px solid #e0ba3a;
    overflow: hidden;
    height: 50px;
    padding: 0;
    margin: 0;
    font-size: 10pt;
    vertical-align: top; }
  .calendar .row-1 td {
    border: none;
    height: 16px;
    text-align: left; }
  .calendar .row-1 td.rt {
    text-align: right; }
  .calendar .day td {
    height: 20px;
    font-size: 9pt;
    border: none;
    text-align: right; }
  .calendar .day td.date {
    font-size: 12pt;
    vertical-align: middle;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 14px; }
  .calendar table.event {
    table-layout: fixed; }
    .calendar table.event td {
      border: none;
      font-size: 8pt; }
    .calendar table.event td.time {
      width: 25%; }
    .calendar table.event td.title {
      width: 75%; }
  .calendar td.current-month {
    background: #002142;
    color: white; }
    .calendar td.current-month td.date {
      background: #002142;
      color: #fffdf5; }
  .calendar td.current_day {
    background: #ffe690;
    color: #99badd; }
    .calendar td.current_day td.date {
      background: #fffdf5;
      color: #e0ba3a; }
  .calendar td.out {
    background: #00152c; }

table.form,
table.messages {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #f5fafe; }

table.form th.label, table.form td.entry, table.form td.help {
  text-align: left;
  padding: 8px 6px; }
table.form th.label {
  background: #002142; }
table.form td.entry, table.form td.help {
  background: #00152c;
  border-bottom: 1px dashed #002142; }
table.form td.help {
  font-size: 8pt; }
table.form .label {
  font-weight: bold;
  width: 25%;
  border-bottom: 1px dashed #00152c; }

table.messages tr.unread {
  font-weight: bold; }

a.asc, a.desc {
  width: 16px;
  background-image: url(custom-theme/images/ui-icons_00152c_256x240.png);
  background-repeat: no-repeat;
  background-position: right; }

a.asc {
  background-position: -64px -16px; }

a.desc {
  background-position: 0 -16px; }

table.pretty {
  border-collapse: collapse;
  border: 1px solid #002142;
  width: 100%; }
  table.pretty tr.odd {
    background: #00152c; }
  table.pretty tr.even {
    background: #002142; }
  table.pretty th {
    text-align: left;
    border: 1px solid #d6eafe;
    background: #99badd url(../img/light-bar-bg.png);
    color: #002142; }
    table.pretty th a {
      color: #002142; }
      table.pretty th a:hover {
        color: #002e5c; }
  table.pretty td, table.pretty th {
    padding: 2px 4px;
    vertical-align: top; }
  table.pretty table.inner {
    background: #002142;
    border-collapse: collapse; }
    table.pretty table.inner th {
      background: #002e5c;
      border: none;
      color: #f5fafe; }

.pager {
  padding: 16px 8px 0 8px;
  width: 100%;
  height: 20px;
  font-size: 8pt;
  text-align: center; }
  .pager a, .pager .disabled {
    padding: 2px 4px;
    border: 1px solid #002e5c;
    color: #d6eafe; }
    .pager a.current, .pager .disabled.current {
      background: #99badd;
      color: #00152c; }
  .pager a:hover {
    background: #002e5c; }
  .pager .disabled {
    color: #002e5c; }

.tournament, .camp {
  background: #00152c url(../img/module-bg.png) repeat-x;
  border: 1px solid #002e5c;
  padding: 4px 8px; }
  .tournament h3, .camp h3 {
    padding: 8px 0 0 0;
    margin: 0;
    text-align: center; }
  .tournament .date, .camp .date {
    color: #ffe690;
    font-size: 9pt;
    text-align: center; }
    .tournament .date .deadline, .camp .date .deadline {
      font-size: 8pt;
      font-weight: bold; }
  .tournament .schedule_link, .camp .schedule_link {
    font-size: 12pt;
    width: 100%;
    text-align: center;
    padding: 8px 0; }
  .tournament table.info, .camp table.info {
    border-collapse: collapse;
    background: #002142;
    width: 100%; }
    .tournament table.info th, .tournament table.info td, .camp table.info th, .camp table.info td {
      padding: 4px 8px; }
    .tournament table.info th, .camp table.info th {
      background: #99badd;
      color: #002142; }
    .tournament table.info td, .camp table.info td {
      border-right: 1px dashed #00152c;
      border-left: 1px dashed #00152c; }

#news-show {
  background: #002142;
  border: 1px solid #002e5c; }
  #news-show .article {
    height: 510px;
    overflow: hidden;
    background: #002142; }
    #news-show .article .date {
      font-size: 8pt; }
    #news-show .article .copy {
      height: 130px;
      clear: both;
      font-size: 8pt; }
      #news-show .article .copy .intro {
        height: 130px;
        overflow: auto; }
    #news-show .article .title {
      text-align: center;
      font-size: 10pt; }
    #news-show .article .program_name {
      float: right;
      font-size: 8pt; }
    #news-show .article .image_wrap {
      background: #002142 url(../img/striped-fade-bg.png);
      border-right: 1px solid #002e5c;
      border-bottom: 1px solid #002e5c;
      border-top: 1px solid #00152c;
      border-left: 1px solid #00152c;
      text-align: center; }
      #news-show .article .image_wrap .image {
        width: 420px;
        height: 323px;
        margin: 4px auto; }

#controls {
  height: 20px;
  padding-top: 8px;
  background: #002e5c;
  color: #d6eafe; }
  #controls a {
    font-size: 8pt;
    padding: 0 4px;
    margin: 0 16px; }
    #controls a:hover {
      color: #002e5c; }
    #controls a.current {
      background: #99badd;
      color: #00152c; }

.coach {
  background: #002142;
  margin-top: 8px;
  border: 1px solid #002e5c;
  padding: 8px; }
  .coach img {
    border-right: 1px solid #00152c;
    border-bottom: 1px solid #00152c;
    border-left: 1px solid #002e5c;
    border-top: 1px solid #002e5c; }
  .coach h2, .coach h3 {
    padding: 4px 0; }
  .coach table {
    border-collapse: collapse;
    width: 100%; }
    .coach table th {
      padding: 8px 0;
      vertical-align: top;
      text-align: left; }
