@import "colors";

// fonts
$sans: Verdana, Kalimati, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
$serif: Georgia, "Nimbus Roman No9 L", serif;

* { margin:0; }
// mixins
@mixin three-d-border {
    border: {
        top: 1px solid $light_navy;
        left: 1px solid $light_navy;
        bottom: 1px solid $navy;
        right: 1px solid $navy;
    }
}

@mixin menu_ul {
    list-style-type:none;
    padding:0;
    margin:0;
}

@mixin section_menu {
    font-family:$serif;
    background:url(../img/bar-bg.png);
    text-align:center;
    padding:2px 0;
    margin-top:0px;
    //margin:2px auto 0 auto;
    position:relative;
    display:block;
    width:100%;
    border: {
        top: 1px solid $light_navy;
        bottom: 1px solid $dark_navy;
    }

    li {
        display:inline;
        position:relative;
    }

    a {
        padding:0 4px;

        &.selected {
            color:$light_carolina;
        }
    }
}

// global
body {
    background:$dark_navy;
    color:$light_carolina;
    padding:0; margin:0;
    font-family: $sans;
    min-width:1000px;
}
html, body {
    height:100%;
}

div#wrapper {
    min-height:100%;
    height:auto !important;
    height:100%;
    margin:0 auto -8em;
}
.push, #footer {
    clear:both;
    height:8em;
}

a {
    text-decoration:none;
    color:$dark_carolina;
    &:hover {
        text-decoration:underline;
        color:$carolina;
    }
}

ul.menu,
ul.submenu, 
ul.admin-menu,
.flash ul {
    @include menu_ul;
}

#notices .notice {
    padding:4px 0 0 0;
    position:relative;
    //top:70px;
    //margin:20px 0 355px 0;
    background:url(../img/notice.png) repeat-x;
    height:30px;
    text-align:center;
    color:$brown;
    a {
        color:$brown;
        text-decoration:underline;
        font-size:9pt;
        &:hover {
            color:$navy;
        }
    }
}

#notice-menu {
    position:absolute;
    z-index:1;
    top:1px;
    left:0px;
    a {
        background:url(../img/notice.png) repeat-x;
        padding:4px;
        color:$brown;
        font-size:9pt;
        text-decoration:underline;
        &:hover {
            color:$navy;
        }
    }
}

#header {
    position:relative;
    clear:both;
    float:left;
    margin:0;
    padding:0;
    background:$navy url(../img/slsc-logo.png) 20px 20px no-repeat;
    //background:$navy url(../img/header-bg.png);
    height:160px;
    width:100%;

    #user-menu {
        float:right;
        padding-right:10px;
        font-size:10pt;
        height:10px;

        li {
            padding:0 4px;
            display:inline;
            position:relative;
            color:$carolina;
        }

        a {
            color:$light_orange_tan;
            text-decoration:none;
            &:hover { color:$orange; }
        }
    }

    #main-menu {
        position:relative;
        top:55px;
        margin:0 20px 0 355px;
        background:url(../img/menu.png) repeat-x;
        height:30px;
        border: {
            left:1px solid $dark_carolina;
            right:1px solid $dark_carolina;
        }
        padding:10px 0 0 0;
        text-align:center;

        ul {
            display:block;

            li {
                padding:0 4px;
                display:inline;
                position:relative;

                a {
                    font: {
                        weight:bold;
                        size:11pt;
                    }
                    color:$dark_navy;
                    text-decoration:none;
                    &:hover { color:$light_navy; }
                }
                a.selected {
                    color:$light_navy;
                    text-shadow:$orange 0 0 4px;
                    //color:$dark_carolina;
                }
            }
        }

        .submenu {
            text-align:left;
            position:absolute;
            display:block;
            background:$carolina;
            z-index:10;
            width:100%;
            left:0px;
            top:30px;

            li {
                position:relative;
                display:block;
                border-bottom:solid 1px $navy;
                font-weight:normal;
            }
        }
    }

}

#content-menu {
    clear:both;
    float:left;
    //height:30px;
    @include section_menu;
}

#content {
    position:relative;
    clear:both;
    margin:0 16px;
    color:$light_carolina;
}

// layout
.colmask {
    position:relative;
    clear:both;
    float:left;
    width:100%;
    overflow:hidden;
    //background:$navy url(../img/header-bg.png);
    background:$dark_navy;
}
.middle,
.left {
    float:left;
    width:100%;
    position:relative;
}
.middle {
    right:25%;
    //background:$dark-navy;
}
.left {
    right:50%;
}
.col1,
.col2,
.col3 {
    float:left;
    position:relative;
    padding:8px 0 1em 0;
    overflow:hidden;
    font-size:10pt;
    color:$light-carolina;
    a {
        &:hover { color:$carolina; }
    }
}
.col1 {
    width:46%;
    left:102%;
    background:$dark-navy;
}
.col2 {
    width:25%;
    left:30%;
    color:$navy;
    //background:$navy;
}
.col3 {
    width:25%;
    left:78%;
    color:$navy;
}
.col2,
.col3 {
    p {
        padding:4px 0;
        border-bottom:1px solid $navy;
    }
}

#footer {
    text-align:center;
    border-top:solid 1px $navy;
    //clear:both;
    //z-index:10;
    //float:left;
    width:100%;
    padding-top:12px;
    background:$carolina url(../img/footer-hatch.png) top repeat-x;
    color:$dark_carolina;
}

input.error, textarea.error {
    background:$light-red url(../img/error.png);
    border-color:$red;
}

div.flash {
    width:100%;
    margin-top:16px;
    border:1px solid $orange_tan;
    background:$really_light_orange_tan;
    text-align:center;
    color:$dark_navy;
}

div.errors {
    margin:16px 0 8px 0;
    padding:4px 0 0 4px;
    border:2px solid $red;
    background:$pink url(../img/error.png);
    color:$red;

    ol {
        margin:4px;
    }
}

h1.title {
    font-family:$serif;
    padding:8px 0 0 0;
    margin:0;
    text-align:center;
}
h3.subtitle {
    padding:0;
    margin:0;
    text-align:center;
}

// static page
.page {
    background:$dark_navy url(../img/module-bg.png) repeat-x;
    border:1px solid $light_navy;
    padding:8px;
    h1 {
        font-size:13pt;
        text-align:center;
    }
}

.section {

    //padding:0 8px;
    //margin:-40px 0 0 0;
    ul.menu {
        @include menu_ul;
        @include section_menu;
    }

    p {
        line-height:1.4em;
        padding:1em 0 0 0;
    }
    
    ul.admin-menu {
        //@include menu_ul;
        padding:0;
        position:relative;
        margin:0 auto;
        text-align:center;
        width:100%;

        li {
            display:inline;
            position:relative;

            a {
                font-size:8pt;
                padding:0 4px;
                color:$light_orange_tan;
                &:hover { color:$orange; }
            }
        }
    }

    .program_news {
        border:1px solid $light_carolina;
        background:$navy;
        margin:16px 0;

        .program_name {
            background:$light_carolina;
            padding:4px 0;
            text-align:center;

            a {
                text-decoration:none;
                font-weight:bold;
                color:$navy;
            }
        }

    }

    .article {
        font-size:9pt;
        padding:4px 12px;
        background:$dark_navy url(../img/module-bg.png) repeat-x;
        border:1px solid $light-navy;
        margin-bottom:8px;

        p.title { 
            width:100%; 
            margin:0;
            padding:2px 0;
            font-size:14pt;
            text-align:center; 
        }

        .sub-title {
            width:100%;
            height:20px;

            .date { float:left; font-size:8pt;}
            .link {
                float:right;
                a {
                    font-size:8pt;
                    color:$light_orange_tan;
                    &:hover { color:$orange; }
                }
            }
        }

        .intro, .body {
            margin:0 8px;
            border-top:1px solid $navy;
            //overflow:auto;
        }
    }
}

.module {
    //margin-top:42px;
    //margin-top:16px;
    margin-bottom:8px;
    //border:1px solid $light_navy;

    .title {
        color:$carolina;
        //border-bottom:1px solid $navy;
        text-align:center;

        ul.menu {
            @include menu_ul;
            @include section_menu;
        }
    }

    .content {
        background:$dark_navy url(../img/module-bg.png) repeat-x;
        @include three-d-border; //border:1px solid $light_navy;
        padding:12px 8px;
        color:$light_carolina;
    }
}

// event module
.event-date {
    padding-top:8px;
    width:100%;
    text-align:center;
    font-size:9pt;
}

.module .event {
    font-size:8pt;
    //text-align:center;

    border-bottom:1px solid $navy;
    //padding:4px 0;
    //padding:8px 0;
    padding-bottom:8px;

    .event-category {
        font-size:8pt;
        color:$light-orange-tan;
    }

    table {
        border-collapse:collapse;
        td {
            padding:0 4px 4px 4px;
            vertical-align:top;
        }
    }
}


// recent module
.module .recent {
    font-size:8pt;
    text-align:center;
    padding:8px 0;
    border-bottom:1px solid $navy;

    .date {
        font-size:8pt;
    }
}

// field module
.module .field, .field {
    //padding-bottom:8px;
    padding:8px 0;
    border-bottom:1px solid $navy;

    .date {
        font-size:8pt;
    }

    .open, .closed {
        width:100%;
        padding:2px 4px;
        text-align:center;
    }

    .open {
        border:1px solid $green;
        background:$light_green;
        color:$green;
    }

    .closed {
        border:1px solid $red;
        background:$light_red;
        color:$red;
    }

    
}

.module {
    .age-0 { font-size:12pt; }
    .age-1 { font-size:11pt; }
    .age-2 { font-size:10pt; }
    .age-3 { font-size:9pt; }
}

.calendar
{
    table-layout:fixed;
    width:99%;
    border-collapse:collapse;
    background:$navy;

    th { font-size:16pt; width:100px; }

    td {
        border:1px solid $dark_orange_tan;
        overflow:hidden;
        height:50px;
        padding:0;
        margin:0;
        font-size:10pt;
        vertical-align:top;
    }

    .row-1 {

        td {
            border:none;
            height:16px;
            text-align:left;
        }

        td.rt {
            text-align:right;
        }
    }

    .day {

        td {
            height:20px;
            font-size:9pt;
            border:none;
            text-align:right;
        }

        td.date {
            font-size:12pt;
            vertical-align:middle;
            text-align:left;
            padding:0;
            margin:0;
            width:14px;
        }
    }

    table.event {
        table-layout:fixed;

        td {
            border:none;
            font-size:8pt;
        }

        td.time {
            width:25%;
        }

        td.title {
            width:75%;
        }
    }

    td.current-month {
        background:$navy;
        color:white;

        td.date {
            background:$navy;
            color:$really_light_orange_tan;
        }
    }

    td.current_day {
        background:$orange_tan;
        color:$dark_carolina;

        td.date {
            background:$really_light_orange_tan;
            color:$dark_orange_tan;
        }
    }
    td.out {
        background:$dark_navy;
    }
}

table.form,
table.messages {
    border-collapse:collapse;
    width:100%;
    border:1px solid $light_carolina;
}

table.form {
    
    //th { width:33%; }

    th.label, td.entry, td.help {
        text-align:left;
        padding:8px 6px;
    }
    th.label { background:$navy; }
    td.entry, td.help { background:$dark_navy; border-bottom:1px dashed $navy; }
    td.help { font-size:8pt; }

    .label {
        font-weight:bold;
        width:25%;
        border-bottom:1px dashed $dark_navy;
    }
}

table.messages {
    tr.unread { font-weight:bold; }
}

a.asc, a.desc { 
    width:16px;
    background-image:url(custom-theme/images/ui-icons_00152c_256x240.png); 
    background-repeat:no-repeat;
    background-position:right;
    }
a.asc { background-position: -64px -16px; }
a.desc { background-position: 0 -16px; }
table.pretty {
    border-collapse:collapse;
    border:1px solid $navy;
    width:100%;
    //background:$navy;

    tr.odd {
        background:$dark_navy;
    }
    tr.even {
        background:$navy;
    }
    th {
        text-align:left;
        border:1px solid $carolina;
        background:$dark_carolina url(../img/light-bar-bg.png);
        color:$navy;
        a { 
            color:$navy;
            &:hover {
                color:$light_navy;
            }
        }
    }

    td, th {
        padding:2px 4px;
        vertical-align:top;
    }
    table.inner {
        background:$navy;
        border-collapse:collapse;
        th {
            background:$light_navy;
            border:none;
            color:$light_carolina;
        }
    }
}

.pager {
    padding:16px 8px 0 8px;
    width:100%;
    height:20px;
    font-size:8pt;
    text-align:center;

    a, .disabled {
        padding:2px 4px;
        border:1px solid $light-navy;
        //background:$dark_carolina;
        color:$carolina;
        &.current {
            background:$dark_carolina;
            color:$dark_navy;
        }
    }
    a:hover { background:$light_navy; }
    .disabled { color:$light_navy; }
}

// tournament
.tournament, .camp {
    background:$dark_navy url(../img/module-bg.png) repeat-x;
    border:1px solid $light-navy;
    padding:4px 8px;

    h3 {
        padding:8px 0 0 0;
        margin:0;
        text-align:center;
    }

    .date {
        color:$orange_tan;
        font-size:9pt;
        text-align:center;

        .deadline {
            font-size:8pt;
            font-weight:bold;
        }
    }

    .schedule_link {
        font-size:12pt;
        width:100%;
        text-align:center;
        padding:8px 0;
    }
    table.info {
        border-collapse:collapse;
        background:$navy;
        width:100%;

        th, td { padding:4px 8px; }
        th { 
            background:$dark_carolina;
            color:$navy;
        }
        td {
            border: {
                right: 1px dashed $dark_navy;
                left: 1px dashed $dark_navy;
            }
        }
    }
}

// slideshow
#news-show {
    background:$navy;
    //border:1px solid $orange_tan;
    border:1px solid $light_navy;
    .article {
        height:510px;
        overflow:hidden;
        //background:$dark_navy url(../img/module-bg.png) repeat-x;
        background:$navy;

        .date { font-size:8pt; }
        .copy {
            height:130px;
            clear:both;
            font-size:8pt;
            .intro {
                height:130px;
                overflow:auto;
            }
        }

        .title {
            text-align:center;
            font-size:10pt;
        }
        .program_name {
            float:right;
            font-size:8pt;
        }

        .image_wrap {
            background:$navy url(../img/striped-fade-bg.png);
            border: {
                right: 1px solid $light_navy;
                bottom: 1px solid $light_navy;
                top: 1px solid $dark_navy;
                left: 1px solid $dark_navy;
            }
            text-align:center;
            .image {
                width:420px;
                height:323px;
                margin:4px auto;
            }
        }
    }
}

#controls {
    height:20px;
    padding-top:8px;
    //border:1px solid $light-navy;
    background:$light-navy;
    color:$carolina;

    a {
        font-size:8pt;
        //color:$brown;
        &:hover {
            color:$light_navy;
        }
        padding: 0 4px;
        margin: 0 16px;

        &.current {
            background:$dark_carolina;
            color:$dark_navy;;
        }
    }
}

// coach
.coach {
    background:$navy;
    margin-top:8px;
    border:1px solid $light_navy;
    padding:8px;

    img {
        border: {
            right: 1px solid $dark_navy;
            bottom: 1px solid $dark_navy;
            left: 1px solid $light_navy;
            top: 1px solid $light_navy;
        }
    }

    h2, h3 {
        padding:4px 0;
    }

    table {
        border-collapse:collapse;
        width:100%;

        th {
            padding:8px 0;
            vertical-align:top;
            text-align:left;
        }
    }
}
