/* colors 
 * #569fd3 carolina
 * #2566b1 dark carolina
 * #b9daf1 light carolina
 * #0f334d navy (header)
 * #00243e dark navy (body)
 * #ffb95e orange
 * #dfa964 orange-tan
 * #d2903a dark orange-tan
 * #ffd195 light orange-tan
 * #ffe4c0 really light orange-tan
 */
body {
    background:#00243e;padding:0;margin:0;
    font-family:Verdana, Kalimati, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
    min-width:1000px;
}

a { 
    text-decoration:none;
    color:#2566b1;
}
a:hover
{
    text-decoration:underline;
    color:#00243e;
}
ul.menu, ul.submenu, .flash ul  {
    list-style-type:none;
    padding:0;
    margin:0;
}

#header {
    clear:both;
    float:left;
    margin:0;
    padding:0;
    background:#0f334d url(../img/logo.png) no-repeat; 
    background-position:20px 20px;
    height:160px;
    width:100%;
} 
    #user-menu {
        float:right;
        padding-right:10px;
        font-size:10pt;
        height:10px;
    }
        #user-menu li {
            padding:0 4px;
            display:inline;
            position:relative;
            color:#569fd3;
        }
        #user-menu a {
            color:#ffd195;
            /*color:#dfa964;*/
            text-decoration:none;
        }
        #user-menu a:hover {
            color:#ffb95e;
        }
    #main-menu {
        /*min-width:660px;*/
        /*overflow:none;*/
        position:relative;
        top:55px;
        margin-left:355px;
        margin-right:20px;
        background:url(../img/menu.png) repeat-x;
        height:30px;
        /*width:66%;*/
        border-left:1px solid #2566b1;
        border-right:1px solid #2566b1;
        padding:10px 0 0 0;
        text-align:center;
    }
        #main-menu ul {
            display:block;
        }
        #main-menu li {
            padding:0 4px;
            display:inline;
            position:relative;
            /*float:left;*/
        }
            #main-menu li a {
                /*padding:0 10px;*/
                font-weight:bold;
                font-size:11pt;
                color:#00243e;
                text-decoration:none;
            }
            #main-menu li a:hover {
                color:#2566b1;
            }
            #main-menu li a.current {
                /*background:url(../img/ball.png) no-repeat center; */
                color:#2566b1;
            }
            #main-menu .submenu {
                text-align:left;
                position:absolute;
                display:block;
                background:#569fd3;
                z-index:10;
                width:100%;
                left:0px;
                top:30px;
            }
                #main-menu .submenu li {
                    position:relative;
                    display:block;
                    border-bottom:solid 1px #0f334d;
                }
                    #main-menu .submenu li a {
                        font-size:10pt; 
                        display:block;
                        color:#2566b1;
                        font-weight:normal;
                    }
    #notice {
        padding:4px 0 0 0;
        /*overflow:none;*/
        position:relative;
        top:70px;
        margin-left:355px;
        margin-right:20px;
        background:url(../img/notice.png) repeat-x;
        height:30px;
        text-align:center;
        color:#be8234;
    }
.colmask {
    /*margin-top:10px;*/
    position:relative;
    clear:both;
    float:left;
    width:100%;
    overflow:hidden;
    /*background:#569fd3 url(../img/column.png) repeat-x;*/
}
.middle, .left {
    float:left;
    width:100%;
    position:relative;
}
.middle {
    right:25%;
    background:#00243e;
}
.left {
    right:50%;
    /*background:#569fd3 url(../img/column.png) repeat-x;*/
}
.col1, 
.col2, 
.col3 {
    float:left;
    position:relative;
    padding:0 0 1em 0;
    overflow:hidden;
    font-size:10pt;
}
.col1 {
    width:46%;
    left:102%;
    color:#b9daf1;
}
.col2 {
    width:25%;
    left:30%;
    color:#0f334d;
}
.col3 {
    width:25%;
    left:78%;
    color:#0f334d;
}
.col2 p,
.col3 p {
    padding:4px 0;
    border-bottom:1px solid #0f334d;
}

#footer {
    text-align:center;
    border-top:solid 1px #0f334d;
    clear:both;
    float:left;
    width:100%;
    background:#569fd3 url(../img/footer.png) bottom repeat-x;
    color:#00243e;
}

.content {
    padding:12px 16px;
    color:#b9daf1;
}
input.error {
    background-color:#faa;
    border-color:#f22;
}

div.flash {
    margin-top:16px;
    border:1px solid #dfa964;
    background:#ffe4c0;
    text-align:center;
    color:#00243e;
}

div.errors {
    margin:16px 0 8px 0;
    padding:4px 0 0 4px;
    border:2px solid #f22;
    background:#faa;
    color:#600;
}
    div.errors ol { margin:4px; }

h1.title {
    padding:0;
    margin:0;
    text-align:center;
}
h3.sub-title {
    padding:0;
    margin:0;
    text-align:center;
}

.program_news {
    border:1px solid #b9daf1;
    background:#0f334d;
    margin:16px 0;
}
    .program_news .program_name {
        background: #b9daf1;
        padding:4px 0;
        text-align:center;
    }
        .program_news .program_name a {
            text-decoration:none;
            font-weight:bold;
            color:#0f334d;
        }
    .program_news .article {
        padding:4px 12px;
    }

.module {
    margin-top:16px;
    background:#569fd3 url(../img/column.png) repeat-x;
}
    .module .title {
        /*background:#ffe4c0;*/
        color:#0f334d;
        border-bottom:1px solid #0f334d;
    }
    .module .content {
        color:#00243e;
    }

.calendar/*,
.day*/
{
    width:100%;
    border-collapse:collapse;
}
.calendar { background:#0f334d; }

    .calendar th
    {
        font-size:16pt;
    }
    .calendar td
    {
        border:1px solid #d2903a;
        width:100px;
        height:100px;
        padding:0;
        margin:0;
        font-size:10pt;
        vertical-align:top;
    }

    .calendar .row-1 td
    {
        border:none;
        height:16px;
        text-align:left;
    }
    .calendar .row-1 td.rt
    {
        text-align:right;
    }
    
    .calendar .day td
    {
        height:20px;
        font-size:9pt;
        border:none;
        text-align:right;
    }
    .calendar .day td.date
    {
        font-size:12pt;
        vertical-align:middle;
        text-align:left;
        padding:0;
        margin:0;
        width:14px;
    }
    .calendar .event td
    {
        border:none;
        font-size:8pt;
    }
    .calendar .event td.time
    {
        width:25%;
    }
    .calendar .event td.title
    {
        width:75%;
    }
    .calendar td.current-month
    {
        background:#ffd195;
        color:#00243e;
    }
    .calendar td.current-month td.date
    {
        background:#ffb95e;
        color:#ffe4c0;
    }
    .calendar td.current-day
    {
        background:#dfa964;
        color:#2566b1;
    }
    .calendar td.current-day td.date
    {
        background:#ffe4c0;
        color:#d2903a;
    }

table.form,
table.messages {
    border-collapse: collapse;
    width:100%;
    border:1px solid #b9daf1;
}
    table.form th { width:33%; }
    table.form th,
    table.form td {
        text-align:left;
        padding:8px 6px;
        background:#0f334d;
        /*border-left:1px solid #00243e;*/
    }

    table.messages tr.unread { font-weight:bold; }

