<databases>
    <mode>development</mode>
    <database mode="development">
        <adapter>sqlite</adapter>
        <filename>db/development.db</filename>
    </database>
    <database mode="production">
        <adapter>mysql</adapter>
        <type>host</type>
        <host>slsc.leagueloo.com</host>
        <port>3306</port>
        <user>zayne</user>
        <password>3df4tty</password>
        <schema>southlakes</schema>
    </database>
</databases>
